div, body {
    margin: 0;
    padding: 0;
}

body {
    background: #DCDDDF url(/bg.jpg);
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

table td {
    padding: 10px;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
}

.formWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
}

.mainLayout_gameList {
    margin-bottom: 30px;
}

.loginForm {
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.loginFormInput {
    position: relative;
    margin: 10px 0;
}
.loginFormInput__input {
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    width: 100%;
    padding: 10px 18px 10px 45px;
    margin: 0;
    border: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.loginFormInput__input_error {
    border: 1px solid #B01302;
}

.loginFormInput__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    background: url(/snake-icon.png) no-repeat 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
    background-position: center;

}

.loginFormInput__controllerIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    background: url(/game-controller.png) no-repeat 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
    background-position: center;
}

.loginFormInput__error {
    color: #B01302;
    text-align: center;
    padding-top: 2px;
    font-size: 13px;
}

.loginFormButton {
    border: 1px solid #3f266f;
    background: #532F8C;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 20px 40px rgba(255,255,255,0.15);
}

.loginFormButton:hover {
    box-shadow: inset 0 1px rgba(255,255,255,0.13), inset 0 20px 40px rgba(255,255,255,0.25);
}

.gameWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gameContainer {
    display: inline-block;
    margin: 20px;
    position: relative;
    height: 600px;
    width: 600px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
    border-radius: 4px;
}

.gameOver {
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    text-align: center;
}

.gameOver_show {
    display: block;
}

.gameStat {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    position: relative;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
    border-radius: 4px;
}

.gameStatCurrentSnake {
    display: flex;
    align-items: baseline;
    font-weight: 800;
    padding: 5px;
}
.gameStatCurrentSnake__color {
    border-radius: 50px;
}

.gameStatRivalSnake {
    display: flex;
    align-items: baseline;
    padding: 5px;
}
.gameStatRivalSnake__color {
    border-radius: 50px;
}

.gameOverTable{
    width: 100%;
    padding: 20px 30%;
}

.gameOverTableCell__color {
    height: 20px;
    width: 20px;
}

#snake {
    /*width: 600px;*/
    /*height: 600px;*/
    border: 3px solid black;
    margin: 40px;
}