<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snake game</title>
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/game.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="gameWrapper">
            <div class="gameContainer">
                <div id="game-container"></div>
                <div id="snake-game-over" class="gameOver"></div>
            </div>
            <div class="gameStat">
                <div>Snakes</div>
                <div id="stat-current-snake" class="gameStatCurrentSnake"></div>
                <div id="stat-rival-snakes"></div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/bundle.js"></script>
</body>
</html>